
  p, label, li {
      color: gray;
  }

  .deadtime {
    display: none;
  }

  .error-fields {
    display: none;
  }

  .note-label {
    font-size: x-small
  }

  .degradation-fields {
    display: none;
  }

  .container {
    /* margin-top: 10px; */
    position: relative;
  }

  #boton-flotante {
    margin-right: 0;
    margin-bottom: 0;
    position: sticky;
    z-index: 999;
    top: 0;
  }

  #boton-flotante a {
        text-decoration: none;
        color: white;
  }

  .btn {
    margin: 20px auto;
    display: block;
  }

  .card {
    margin-top: 20px;
  }

  .card img {
    margin-bottom: 20px;
  }

  .modal-header {
    flex-direction: column;
  }

  .card-title {
    margin-bottom: 30px;
    color: #0d6efd;
  }

  .modal-header button {
    position: absolute;
    right: 20px;
  }

  #logos .row div:nth-child(even) {
      justify-content: flex-start;
  }
  #logos .row div:nth-child(odd) {
      justify-content: flex-end;
  }

  .row div {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .send {
    padding: 15px 40px;
  }

  .row img {
    max-width: 600px !important;
  }


  @media screen and (max-width:996px) {
      * {
          font-size: 15px;
          word-break: break-all;
      }

      .row img {
        width: 100% !important;
      }

      .send {
        display: block;
      }
  }
